backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
cheroot==6.0.0
CherryPy==3.2.2
cycler==0.10.0
Cython==0.28.1
decorator==4.2.1
enum34==1.1.6
gviz-api==1.9.0
h5py==2.7.1
ipython==7.16.3
ipython-genutils==0.2.0
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.1.0
numexpr==2.6.4
numpy==1.14.2
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
portend==2.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
scandir==1.7
scipy==1.0.1
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
subprocess32==3.2.7
tables==3.4.2
tempora==1.11
traitlets==4.3.2
wcwidth==0.1.7